:root {
  --accent-color: #ff6c00;
  --white-color: #ffffff;
  --dark-color: #303030;
  --light-color: #9da4bd;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ===================== COMPONENTS =====================*/

.modal-btn {
  min-width: 160px;
  padding: 12px 10px 12px 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: 25px;
  color: #ffffff;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.media-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.media-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--dark-color);
}

.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 2;
  letter-spacing: 0.2em;
  color: var(--dark-color);
}

.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}

.suptitle {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  /* margin-top: 10px; */
  margin-bottom: 20px;
}

.suptitle::before {
  /* display: block; */
  content: '';
  width: 60px;
  height: 1px;
}

.suptitle-theme-dark {
  color: var(--dark-color);
}
.suptitle-theme-light {
  color: rgba(157, 164, 189, 0.6);
}
.suptitle-theme-dark::before {
  background-color: var(--dark-color);
  color: var(--dark-color);
}
.suptitle-theme-light::before {
  background-color: rgba(157, 164, 189, 0.6);
  color: rgba(157, 164, 189, 0.6);
}

.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--light-color);
  margin-bottom: 20px;
}

.section-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.section-title-theme-light {
  color: var(--white-color);
  /* padding-bottom: 20px; */
}

.section-title-theme-dark {
  color: var(--dark-color);
  /* padding-bottom: 44px; */
}

/* ===================== /COMPONENTS =====================*/

/* ===================== HEADER =====================*/
.page-header {
  position: absolute;
  width: 100%;
  padding-top: 22px;
  top: 0;
  left: 0;
  /* margin: 0 auto; */
  /* padding-bottom: 32px; */
}

.page-header .modal-btn {
  margin-right: 20px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 30px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: #ffffff;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 30px;
  color: #ffffff;
}

.contact-phone:hover,
.contact-phone:focus {
  color: var(--accent-color);
}

/* ===================== /HEADER =====================*/

/* ===================== /HERO =====================*/
.hero-container {
  display: flex;
}

.hero-left-side {
  display: flex;
  justify-content: right;
  align-items: center;
  transform: rotate(-90deg) translateX(-130px);
  /* background-color: pink; */
  width: 100px;
  height: 100px;
}

.hero-right-side {
  background-color: var(--dark-color);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url('../images/hero/bg.jpg');
  background-size: cover;

  flex-grow: 1;
  /* flex-basis: 100%; */
  padding-top: 272px;
  padding-bottom: 40px;
  padding-left: 100px;
}

.hero-content-wraper {
  width: 444px;
}

.main-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-color);
}

.hero-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 144px;
}

.slider-btn-list {
  display: flex;
  justify-content: right;
}

.slider-btn {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--white-color);
  color: var(--white-color);
  width: 60px;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 8px;
  margin-right: 20px;
}

.slider-item:last-child .slider-btn {
  text-align: right;
}

.slider-btn:hover,
.slider-btn:focus {
  border-bottom: 1px solid var(--light-color);
  color: var(--light-color);
}

/* ===================== /HERO =====================*/

/* ===================== ABOUT =====================*/

.about-section-wraper {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-content-wraper {
  width: 470px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}

#about-section .modal-btn {
  color: #000;
}

/* ===================== /ABOUT =====================*/

/* ===================== PRICE =====================*/

.price-section {
  background-color: #111319;
  background-image: url('../images/price/bg.png');
  background-size: cover;
}

.price-section .section-title {
  margin-bottom: 44px;
}

.price-content-wraper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 44px;
}

.price-card {
  flex-basis: calc((100% - 30px) / 2);
  color: var(--light-color);
  padding: 20px 20px;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-card tr {
  height: 50px;
}

.price-card tr td:last-child {
  text-align: right;
}
/* ===================== /PRICE =====================*/

/* ===================== BENEFITS =====================*/

.benefits-container {
  display: flex;
}

.benefits-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  /* width: 400px; */
  /* padding-left: 30px;
  padding-right: 30px; */
}

.benefits-item {
  background: #f7f7f7;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  flex-basis: 170px;
  padding: 20px 24px;
  /* margin-left: 30px; */
}

.benefits-item-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-title sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #ff6c00;
  padding-top: -10px;
  margin-top: -10px;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
  text-align: center;
}

/* ===================== /BENEFITS =====================*/

/* ===================== /TEAM =====================*/

.team-section {
  background: #f7f7f7;
}

.team-title {
  padding-bottom: 44px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-card {
  flex-basis: calc((100% - 60px) / 3);
}

.team-card-content-wraper {
  padding-top: 30px;
}

.team-card-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 3px;
}

.team-card-text {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-social-link {
  background-color: var(--white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.team-social-svg {
  fill: var(--dark-color);
}
.team-social-svg:hover,
.team-social-svg:focus {
  fill: var(--accent-color);
}

/* ===================== /TEAM =====================*/

/* ===================== /GALLERY =====================*/

.gallery-suptitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  flex-basis: calc((100% - 90px) / 4);
}

/* ===================== /GALLERY =====================*/

/* ===================== CONTACTS =====================*/
.booking-section {
  width: 50%;
}

.booking-section .section-title {
  margin-bottom: 32px;
}

.name-phone-wraper {
  margin-bottom: 44px;
  display: flex;
  gap: 30px;
  color: var(--white-color);
  margin-right: 30px;
}

.name-phone-wraper input {
  height: 36px;
  background-color: transparent;
  border: 0;
  border-bottom: #303030 solid 1px;
  width: 100%;
}

.name-phone-wraper > div {
  flex-basis: calc((100%-30) / 2);
}

.name-phone-wraper label {
  position: absolute;
}

.message-wraper {
  height: 76px;
  margin-bottom: 44px;
  margin-right: 30px;
  color: var(--white-color);
}

.message-wraper label {
  position: absolute;
}

.message-wraper textarea {
  height: 76px;
  width: 100%;
  background-color: transparent;
  border: 0;
  resize: none;
  border-bottom: #303030 solid 1px;
}

.contacts-section {
  background-image: url('../images/contacts/bg-img.png');
  width: 50%;
  padding-left: 100px;
}

.contacts-list {
  padding-bottom: 72px;
}

.contacts-item {
  padding-bottom: 20px;
}

.cintacts-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  align-items: center;
  letter-spacing: 0.02em;

  color: var(--light-color);
}

.working-time-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--light-color);
}

/* ===================== /CONTACTS =====================*/

/* ===================== FOOTER =====================*/

.supfooter {
  background: #111319;
}

.supfooter-wraper {
  display: flex;
  justify-content: space-between;
  gap: 0;
}

.footer-section {
  display: flex;
  padding-top: 52px;
  padding-bottom: 52px;
  justify-content: space-between;
}

.footer-copirate {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--light-color);
}

/* ===================== /FOOTER =====================*/
